@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-color: #1e1d2b;
}

#container{
    /*width 100vw*/
    /*height 4vh + */
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 4em;
}

img{
    width: 50%;
}

/*------------------header------------*/
header{
    /* position:fixed; */
    top:0;
    right:0;
    width: 100vw;
    height: 4vh;
    /* z-index: 1000; */
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
}

#left-header{
    width: 50vw;
    float:left;
}



#right-header{
    width: 50vw;
    float:right;
}

#menu{
    width:50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*-----------------content---------*/
#home{
    height:55vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#left-home{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-home{
    width: 50vw;
    display: flex;
    justify-content: center;
}

#left-home p{
    font-size: 2.5em;
}

.holder-button{
    width: 390px; /*width of the h1 to make it aling*/
}

button{
    margin-top: 1vh;
    font-size: 1em;
    width: 130px;
    background-color: #ff702a;
}


/* utils */

.green-border{
    border:1em #12b886 solid;
}

.red-border{
    border:0.4em #f85151 solid;
}

.red-line{
    height: 1vh;
    background-color: #f85151;
    margin-top: 2em;
    margin-bottom: 2em;
}

.box-pale{/*Make the border like you where drawing*/
    background-color: #ffefe8;
}

.text-color-orange{
    color:#ff702a;
}

.text-color-black{
    color: black;
}

.circle-line{/*make the border like a circle and like if you where drawing*/
    border:1em #12b886 ;/*solid in the future*/
}

.line-transition{/*make the transition*/
    border-bottom:1em #ff702a solid;
}


/*--------------- media -------------*/

@media (max-width:800px){
    /*-----------------content---------*/
#home{
    height:100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
}
/*#2c2b47 menu cellphone color*/