@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{  z-index: 0;
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-color: #1e1d2b;
}

#container{
    /*width 100vw*/
    /*height 4vh + */
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 4em;
}

img{
    width: 50%;
}

/*------------------header------------*/
header{
    position:fixed;
    top:0;
    right:0;
    width: 100%;
    height: 4vh;
    z-index: 100;
    display: flex;
    flex-direction: row;
    background-color: #1e1d2b;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
}

ul{
    list-style: none;
}

#left-header{
    width: 49%;
    float:left;
}



#right-header{
    width: 49%;
    float:right;
}

#bar-menu{
    width:50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*-----------------content---------*/
#home,#about{
    height:55vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu,#services,#advertising{
    height:55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#left-home,#about-left{
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
}

#right-home,#about-right{
    width: 50vw;
    display: flex;
    justify-content: center;
}

#about-right{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

#left-home p{
    font-size: 2.5em;
}

#shopping-menu,#services-menu,#contact{
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
}

#services-menu il{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

#contact-us ul{
    display: flex;
    justify-content: space-between;
}

button{
    margin-top: 1vh;
    font-size: 1em;
    width: 130px;
    background-color: #ff702a;
}

#ad{
    width: 80vw;
    height:40vh;
}


/* utils */

.green-border{
    border:1em #12b886 solid;
}

.red-border{
    border:0.4em #f85151 solid;
}

.red-line{
    height: 1vh;
    background-color: #f85151;
    margin-top: 2em;
    margin-bottom: 2em;
}

.box-pale{/*Make the border like you where drawing*/
    background-color: #ffefe8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text-color-orange{
    color:#ff702a;
}

.text-color-black{
    color: black;
}

.circle-line{/*make the border like a circle and like if you where drawing*/
    border:1em #12b886 ;/*solid in the future*/
}

.line-transition{/*make the transition*/
    border-bottom:1em #ff702a solid;
}

.menu-icon{
    display: none;
}

/*--------------- media -------------*/

@media (max-width:1275px) and (min-width:1113px) {
    h1{
        font-size: 3.5em;
    }
}

@media (max-width:1113px) and (min-width:958px) {
    h1{
        font-size: 3em;
    }
    #left-home p{
        font-size: 2.4em;
    }
}

@media (max-width:958px) and (min-width:801px) {
    h1{
        font-size: 2.4em;
    }
    #left-home p{
        font-size: 2em;
    }

    #shopping-menu il{
        width: 24vw;
    }
}


@media (max-width:800px){

    header{
        height: 8vh;
        display: flex;
    }
    .menu-icon{
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: right;
        align-items: center;
    }

    #right-header{
        width: 49%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }

    #bar-menu{
        display: none;
    }

    .menu-icon:hover + #bar-menu {
        display: block;
        background-color: red;
    }
    /* ul.dropdown-content{
        display: block;
    } */

    #home{
        height:100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
/*#2c2b47 menu cellphone color*/