@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{  z-index: 0;
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body{
    background-color: #1e1d2b;
}

#container{
    /*width 100vw*/
    /*height 4vh + */
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 4em;
}

img{
    width: 50%;
}

a {
    text-decoration: none;
}

input[type="checkbox"]{
    visibility: hidden;
}



/*------------------header------------*/
header{
    position:fixed;
    top:0;
    right:0;
    width: 100%;
    height: 4vh;
    z-index: 100;
    display: flex;
    flex-direction: row;
    background-color: #1e1d2b;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
}

ul{
    list-style: none;
}

#left-header{
    width: 49%;
    float:left;
}



#right-header{
    width: 49%;
    float:right;
}

#bar-menu{
    width:50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#mobile-bar-menu,#menu-icon,#label-menu-icon{
    display:none;
}

/*-----------------content---------*/
#home,#about{
    height:55vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#menu,#services,#advertising{
    height:55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#left-home,#about-left{
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
}

#right-home,#about-right{
    width: 50vw;
    display: flex;
    justify-content: center;
}

#about-right{
    width: 50vw;
    display: flex;
    flex-direction: column;
}

#left-home p{
    font-size: 2.5em;
}

#shopping-menu,#services-menu,#contact{
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
}

#services-menu il{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
}

#contact-us ul{
    display: flex;
    justify-content: space-between;
}

button{
    margin-top: 1vh;
    font-size: 1em;
    width: 130px;
    background-color: #ff702a;
}

#ad{
    width: 80vw;
    height:40vh;
}


/* utils */

.green-border{
    border:1em #12b886 solid;
}

.red-border{
    border:0.4em #f85151 solid;
}

.red-line{
    height: 1vh;
    background-color: #f85151;
    margin-top: 2em;
    margin-bottom: 2em;
}

.box-pale{/*Make the border like you where drawing*/
    background-color: #ffefe8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.text-color-orange{
    color:#ff702a;
}

.text-color-black{
    color: black;
}

.circle-line{/*make the border like a circle and like if you where drawing*/
    border:1em #12b886 ;/*solid in the future*/
}

.line-transition{/*make the transition*/
    border-bottom:1em #ff702a solid;
}

.menu-icon{
    display: none;
}

/*--------------- media -------------*/

@media (max-width:1275px) and (min-width:1113px) {
    h1{
        font-size: 3.5em;
    }
}

@media (max-width:1113px) and (min-width:958px) {
    h1{
        font-size: 3em;
    }
    #left-home p{
        font-size: 2.4em;
    }
}

@media (max-width:958px) and (min-width:801px) {
    h1{
        font-size: 2.4em;
    }
    #left-home p{
        font-size: 2em;
    }

    #shopping-menu il{
        width: 24vw;
    }
}


@media (max-width:800px){

    #left-home h1{
        font-size: 5em;
    }

    img{
        width: 70%;
    }

    header{
        display: flex;
        flex-direction: column;
    }
    .menu-icon{
        display: flex;
        width: 50%;
        height: 100%;
        justify-content: right;
        align-items: center;
    }


    #right-header{
        width: 49%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #bar-menu{
        display: none;
    }
    
    #menu-icon,#label-menu-icon{
        display:block;
    }
    

    nav:has(#right-header input[type="checkbox"]:checked) +#mobile-bar-menu{

            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #2c2b47 ;
            
    }
    /* ul.dropdown-content{
        display: block;
    } */

    #home{
        height:100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #left-home{
        width: 100vw;
        align-items: center;
        padding-left: 0;
    }
    


    #left-home p {
        font-size: 3.5em;
        text-align: center;
        
    }

    #about{
        height:100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    
    #about-right{
        width: 100%;
        align-items: center;
    }

    #about-right h1{
        text-align: center;
    }

    #about-right p{
        width: 90vw;
        text-align: center;
        font-size: 1.5em;
    }

    #about-right button{
        width: 200px;
        font-size: 1.5em;
    }

    #menu{
        text-align: center;
        height: 100vh;
    }

    #shopping-menu{
        height: 120vh;
        flex-direction: column;
        align-items: center;
        justify-content: none;
    }
    #shopping-menu il{
        width: 30vw;
    }
    #shopping-menu img{
        width: 50%;
    }

    #services{
        height: 124vh;
        justify-content: flex-start;
    }

    #services h1{
        text-align: center;
    }

    #services-menu il{
        width: 70%;
    }

    #services-menu il img{
        width: 30%;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }

    #services-menu il p{
        font-size: 1.5em;
        text-align: center;
    }

    #services-menu{
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #ad h1{
        font-size: 3em;
    }

    #contact{
        height: 80vh;
        width: 30vw;
        padding-left: 10vw;
        flex-direction: column;
    }

    #contact-us{
        width: 90vw;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #contact-us ul{
        width: 30vw;
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width:720px){
    #menu h1{
        font-size: 3.4em;
    }
    #ad h1{
        font-size: 2.6em;
    }

    #about-right h1{
        font-size: 3.8em;
    }
}

@media (max-width:594px){
    
    #about-right{
        height: 60%;
        justify-content: space-between;
    }

    #about-right h1{
        font-size: 3.5em;
    }
}